.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.left-side, .right-side {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-side {
  text-align: center;
}

.muslo-img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 15px;
}

.ver-comidas-btn, .agregar-comida-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.ver-comidas-btn {
  background-color: #007bff;
  color: white;
  margin-top: 15px;
}

.ver-comidas-btn:hover {
  background-color: #0056b3;
}

.right-side h1 {
  text-align: center;
  color: #333;
}

.right-side input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.agregar-comida-btn {
  background-color: #28a745;
  color: white;
  width: 100%;
}

.agregar-comida-btn:hover {
  background-color: #218838;
}

.success-message {
  text-align: center;
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.error-message {
  text-align: center;
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
